{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <a href="{% url 'product-filter' category='Rings' %}">
                <div><img src="static/media/images/ring-background.jpg" class="product-background"></div>
                <h3>Rings</h3>
            </a>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <a href="{% url 'product-filter' category='Necklaces' %}">
                <div><img src="static/media/images/necklace-background.jpg" class="product-background"></div>
                <h3>Necklaces</h3>
            </a>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <a href="{% url 'product-filter' category='Bracelets' %}">
                <div><img src="static/media/images/bracelet-background.jpg" class="product-background"></div>
                <h3>Bracelets</h3>
            </a>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 col-md-offset-2 display panel panel-default">
        <div class="panel-body">
            <a href="{% url 'product-filter' category='Earrings' %}">
                <div><img src="static/media/images/earrings-background.jpg" class="product-background"></div>
                <h3>Earrings</h3>
            </a>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-3 col-sm-6 col-md-4 col-md-offset-0 display panel panel-default">
        <div class="panel-body">
            <a href="{% url 'product-filter' category='Collections' %}">
                <div><img src="static/media/images/collections-background.jpg" class="product-background"></div>
                <h3>Collections</h3>
            </a>
        </div>
    </div>
    
</div>
{% endblock %}