{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pearl Stone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %} {% endblock head_js %}
</head>


<body>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Pearl Stone</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>

                    {% else %}
                    <li><a href="{% url 'registration' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                    <!-- <li>
                       
                            <i class="fa fa-shipping-cart"></i>Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--introduction-->
    <article class='introduction-container'>
        <div class='row'>
            <div class='col-xs-12'>
                <h1>Pearl Stone</h1>
            </div>
        </div>
    </article>
    <div class="container block-content">
        {% block content %} {% endblock %}
    </div>

    <footer class='container-fluid'>
        <div class='footer-details row'>
            <div class='col-sm-6'>
                    <ul class='footer-list'>
                        <li><a href="{% url 'deliveries' %}">Deliveries & Returns</a></li>
                        <li><a href="{% url 'track' %}">Track Order</a></li>
                        <li><a href="{% url 'contact' %}" >Contact Us</a></li>
                    </ul>
            </div>
            <div class='col-sm-6'>
                    <ul class='footer-list'>
                        <li><a href="{% url 'faq' %}">Help</a></li>
                        <li><a href="{% url 'sizes' %}">Ring Sizes</a></li>
                        <li><a href="{% url 'metal' %}">Metal Buying Guide</a></li>
                    </ul>
            </div>
        </div>
    </footer>
</body>

</html>